# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.sqlite3

# Frontend
frontend/node_modules/
frontend/dist/

frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
